[submodule "APIGithub"]
	path = projects/APIGithub
	url = https://github.com/r-fsantos/APIGitHub.git
[submodule "DesignSystemSample"]
	path = projects/DesignSystemSample
	url = https://github.com/r-fsantos/DesignSystemSample.git
