[submodule "APIGithub"]
	path = projects/APIGithub
	url = https://github.com/r-fsantos/APIGitHub.git
[submodule "DesignSystemSample"]
	path = projects/DesignSystemSample
	url = https://github.com/r-fsantos/DesignSystemSample.git
[submodule "projects/FinderRepo"]
	path = projects/FinderRepo
	url = https://github.com/r-fsantos/FinderRepo.git
[submodule "hands-on-marvel"]
	path = projects/hands-on-marvel
	url = https://github.com/r-fsantos/marvel-dougbh.git
[submodule "Marvel"]
	path = projects/Marvel
	url = https://github.com/r-fsantos/Marvel.git
[submodule "ToDoApp"]
	path = projects/ToDoApp
	url = https://github.com/r-fsantos/ToDoApp.git
[submodule "Safarium"]
	path = projects/Safarium
	url = https://github.com/r-fsantos/Safarium.git
